.features {
  display: flex;
  position: relative;

  @include for-large-down {
    display: none;
  }
  @include for-large-up {
    margin-bottom: 103px;
  }

  &__content {
    display: flex;
    width: 1140px;
    margin: auto;
  }
  &__column {
    width: 459px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #009b4d;
  }
  &__title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
  &__description {
    margin-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 34px;
    border-bottom: 3px solid #3142c6;
  }
  &__advantage-header {
    display: flex;
    margin-top: 22px;
  }
  &__advantage-title {
    margin-left: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #3142c6;
  }
  &__advantage-text {
    margin-top: 8px;
    line-height: 26px;
  }
  &__advantage-item {
    display: flex;
    align-items: center;
    margin-top: 21px;
    padding-bottom: 22px;
    border-bottom: 1px solid #2b292d26;
  }
  &__advantage-item-text {
    margin-left: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  &__left-decoration {
    position: absolute;
    top: 258px;
    height: 166px;
  }
  &__banner {
    position: absolute;
    right: 0;
  }
}
