.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  &__description {
    display: none;
    line-height: 26px;
    margin-top: 26px;
    opacity: 0.6;
    width: 360px;

    @include for-large-up {
      display: block;
    }
  }
  &__line {
    border-top: 1px solid #2b292d;
    width: 100%;
    opacity: 0.1;
    margin: 0;
    margin-top: 40px;

    @include for-large-up {
      margin: 0;
    }
  }
  .logo {
    @include for-large-down {
      display: none;
    }
  }
}
.about-company {
  margin-top: 44px;
}
.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
    flex-direction: row;
  }
}
.downloads {
  margin: 25px 15px 0;
  display: flex;
  justify-content: center;

  @include for-large-up {
    justify-content: left;
    margin: 0;
    margin-top: 25px;
  }

  &__image {
    margin-right: 10px;
  }
}
.additional-navigation {
  margin: 0 15px;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    margin-top: 60px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  &__column {
    margin-top: 30px;

    @include for-large-up {
      margin-right: 29px;
      margin-top: 0;
    }
  }
}
.nav-links {
  width: 265px;

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
  }
  &__list {
    line-height: 30px;
    opacity: 0.6;
    margin-top: 18px;
  }
}
.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    width: 1140px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.terms {
  line-height: 22px;
  opacity: 0.6;
  font-size: 14px;
  margin-top: 30px;

  @include for-large-up {
    line-height: 50px;
    margin-top: 0;
  }

  &__item {
    margin-right: 22px;
  }
}
.social-links {
  margin-top: 30px;
  margin-bottom: 22px;

  @include for-large-up {
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__item {
    margin-left: 20px;
  }
  &__item:first-child {
    margin-left: 0;
  }
}
.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include for-large-up {
    display: none;
  }

  &__image {
    width: 60px;
    height: 60px;
  }
  &__name {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
  &__description {
    color: rgba(43, 41, 45, 0.6);
  }
}
